rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{collection}/{item=**} {
    allow update, delete: if request.auth.uid == resource.data.addedBy
    allow read, create: if true
    }
  }
}